<div class="mb-8 border border-width-2 border-color-3 borders-radius-6">
    <!-- List -->
    <ul id="sidebarNav" class="list-unstyled mb-0 sidebar-navbar">
        <li>
            <a class="dropdown-toggle dropdown-toggle-collapse dropdown-title" href="javascript:;" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sidebarNav1Collapse" data-target="#sidebarNav1Collapse">
                Show All Categories
            </a>

            <div id="sidebarNav1Collapse" class="collapse" data-parent="#sidebarNav">
                <ul id="sidebarNav1" class="list-unstyled dropdown-list">
                    <!-- Menu List -->
                    <li><a class="dropdown-item" href="/men/">MEN<span class="text-gray-25 font-size-12 font-weight-normal"> </span></a></li>
                    <li><a class="dropdown-item" href="/women/">WOMEN<span class="text-gray-25 font-size-12 font-weight-normal"> </span></a></li>
                    <li><a class="dropdown-item" href="/kids/">KIDS<span class="text-gray-25 font-size-12 font-weight-normal"> </span></a></li>
                    
                    <!-- End Menu List -->
                </ul>
            </div>
        </li>
        
    </ul>
    <!-- End List -->
</div>
