.pointer {
    cursor: pointer !important
}

[v-cloak] {
    display: none
}

[disabled] {
    cursor: not-allowed;
}

button {
    cursor: pointer !important;
}

.text-gray-90 {
    color: gray;
}

/* .review-star::before {
    content: "\f005"
} */
