{% extends "admin/base_site.html" %}
{% block extrahead %}

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> -->
    
    <style>
        .field-__str__ {
            font-family: Consolas, monospace;
        }
        
        #header, .module h2, .module caption, .inline-group h2, div.breadcrumbs, .button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
            background: linear-gradient(#192a80, #ee4820);
            color: white
        }
        
        .button, input[type=submit], input[type=button], .submit-row input, a.button, .button.default, input[type=submit].default, .submit-row input.default {
            background: black;
            color: white
        }
        
        #branding h1, #branding h1 a:link, #branding h1 a:visited {
            color: white
        }
    </style>
{% endblock %}
