{% extends 'base.html' %}
{% load static %}

{% block title %}Sunglasses{% endblock %}

{% block js %}
    
    {% include 'abstract/list-views/js.html' %}
    
    <script type="text/javascript" src='{% static "js/list-views.js" %}'></script>
    
{% endblock %}

{% block main_content %}
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
       
        <div class="container">
            <div class="row mb-8">
                <div class="d-none d-xl-block col-xl-3 col-wd-2gdot5">
                    <!-- breadcrumb -->
                    <div class="my-md-3">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                                <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="/">Home</a></li>
                                <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">Sunglasses</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- End breadcrumb -->
                    
                    {% include 'abstract/list-views/sidebar-categories.html' %}
                    {% include 'abstract/list-views/filters.html' %}
                    
                    <div class="mb-8">
                        <div class="com-img">
                            <img src="{% static 'svg/sun-glass.jpg' %}" alt="sun-glass" style="width: 100%;">
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-wd-9gdot5 mt-3">
                    <div class="main-img">
                        <img src="{% static 'svg/top_img/sunglass.jpg' %}" alt="main-img">
                        <h3 class="font-size-25 mb-2 mb-md-0">Sunglasses</h3>
                    </div>
                    
                    {% include 'abstract/list-views/subnav.html' %}
                    
                    <!-- Shop Body -->
                    <!-- Tab Content -->
                    {% include 'abstract/list-views/main-content.html' %}
                    <!-- End Tab Content -->
                    <!-- End Shop Body -->
                    <!-- Shop Pagination -->
                    <nav class="d-md-flex justify-content-between align-items-center border-top pt-3" aria-label="Page navigation example">
                        <div class="text-center text-md-left mb-3 mb-md-0">Showing [[ readableStartIndex ]]–[[ endIndex ]] of [[ products.length ]] results</div>
                        <ul class="pagination mb-0 pagination-shop justify-content-center justify-content-md-start">
                            <li class="page-item"><a class="page-link current text-white" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                        </ul>
                    </nav>
                    <!-- End Shop Pagination -->
                </div>
            </div>
        </div>
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
{% endblock %}
