
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Virtual Try API</h1>
        <script cross-origin='samesite' src="https://appstatic.jeeliz.com/jeewidget/JeelizNNCwidget.js"></script>
        <div id="JeeWidget" style='height: 90vh;'>
          <canvas id="JeeWidgetCanvas"></canvas>
        </div>
        
        <script type="text/javascript">
            JEEWIDGET.start({
              sku: 'blaze_round_or_bleudegrademiroir',
              searchImageMask: 'https://appstatic.jeeliz.com/jeewidget/images/target.png',
              searchImageColor: 0xFF0000
            });
        </script>
    </body>
</html>
